@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }

html{
    font-family: 'DungGeunMo', serif;
    margin: 0;
    background-color: aquamarine;
    text-align: center;
}
header{
    padding: 2%;
}

.icon{
    display: inline-block;
    border:black 2px solid;
    padding: 5%;
}

